
{% block head %}

{% endblock head %}
 
<body style="overflow-x: hidden">

{% block content %}



{% endblock content %}

<!--footer-->

   <div id='test'>
   <footer class="footer">
     <div class="footer-left">
         <img src="" alt="">
         <p>University Library Website is where you can find your desired books and gain knwoledge day by day.  </p>
     </div>

      <ul class="footer-right">

       <li>
          <h2>Majors</h2>
          <ul class="box">
            <li><a href="#">Engineering</a></li>
            <li><a href="#">Computer Sciene</a></li>
            <li><a href="#">Mass Communication</a></li>
            <li><a href="#">Medicine</a></li>
            <li><a href="#">Science</a></li>
          </ul>
       </li>

       <li class = "Additional">
        <h2>Useful Links</h2>
        <ul class="box">
          <li><a href="https://github.com/">GitHub</a></li>
          <li><a href="https://www.w3schools.com/">W3schools</a></li>
          <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
          <li><a href="https://www.geeksforgeeks.org/">GeeksforGeeks</a></li>
          <li><a href="https://www.tutorialspoint.com/">TutorialsPoint</a></li>
        </ul>
     </li>


     <li>
      <h2>Address</h2>
      <ul class="box">
        <li><a href="#">5 Dr. Ahmed Zewail Street</a></li>
        <li><a href="#">Dokki</a></li>
        <li><a href="#">Giza</a></li>
        <li><a href="#">Egypt</a></li>
       
      </ul>
    </li>
  </ul>

  <div class='footer-bottom'>
    <p>All Rights Reserved by &copy;conceptial 2021</p>
  </div>

   </footer>
</div>

  </body>
</html>


